$center: 0 auto;

// for widths and heights
$site-width: 980px;
$banner-footer-width: 1280px;
$banner-height: 500px;
$footer-height: 100px;
$home-form-width: 818px;

// for site colors
$site-blue: #79addc;
$site-white: #ffffff;
$site-black: #000000;
$site-yellow: #ffd140;
$site-purple: #540D6E;
$site-pink: #EE4367;
$site-teal: #3BCEAB;
$site-green: #08AD69;

// for buttons

// for fonts
$gill-sans: GillSans;
$proxima-nova: ProximaNovaCondensed;
$ptserifbold: PTserifBold;
$ptserifbolditalic: PTserifBoldItalic;
$ptserifitalic: PTserifItalic;
$ptserifregular: PTserifRegular;