.blog1-container{
    width: $site-width;
    margin: 0 auto;

    .blog1-hero{
        margin-top: 50px;
        width: 100%;
        height: 300px;
        background-image: linear-gradient(
            rgba($site-pink, 0.7),
            rgba($site-pink, 0.7)
          ), url(../images/blog.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          display: flex;
          justify-content: center;
          align-items: center;

          .blog-date {
            height: 155px;
            width: 155px;
            background-color: $site-pink;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
      
            .blog1-number {
              color: white;
              font-family: $gill-sans;
              font-size: 55px;
            }
      
            .blog1-month {
              color: white;
              font-family: $gill-sans;
              font-size: 31px;
            }
          }
    }

    .blog1-text1{
        margin-bottom: 151px;

        .text1-header{
            font-family: $gill-sans;
            font-size: 20px;
            color: $site-pink;
            margin-top: 50px;
        }

        .text1-p{
            width: 856px;
            font-family: $gill-sans;
            font-size: 20px;
        }
    }
}